In [6]:
import pandas as pd
from sdv.datasets.local import load_csvs
faults = [0,2,6,8,17,20,23,24,25,26,27,28,31,32,33,34,35,38,39,40,41,43,44,45,48,49]
goods = []
for i in range(51):
    if(i not in faults):
        goods.append(i)

In [10]:

datasets = load_csvs(folder_name='./data')
thingies = [pd.DataFrame() for i in range(51)]
time = datasets["Sensors-Thingy-color_b-sampled10min"]["time_ms"]
for x in datasets:
    datasets[x] = datasets[x].drop("time_ms",axis = 1)
    y = 0
    for i in datasets[x]:
        thingies[y][x] = datasets[x][i]
        y = y + 1

columns = ["color b", "color c", "color g", "color r", "eCO2","humidity", "pressure", "rssi", "sound", "temperature", "TVOC", "voltage"]
for x in thingies:
    x.columns = columns

new_dataframe = pd.DataFrame()
for x in range(51):
    if(x not in faults):
        thingies[x]["id"] = [x for i in range(len(thingies[x]))]
        thingies[x]["time"] =time
        new_dataframe = pd.concat([new_dataframe,thingies[x]])
    

new_dataframe

,color b,color c,color g,color r,eCO2,humidity,pressure,rssi,sound,temperature,TVOC,voltage,id,time
0,0.0,0.0,0.0,0.0,465.0,58.0,1027.0,-78.0,57.0,2521.0,9.0,3826.0,1,2022-12-01 00:00:00
1,0.0,0.0,0.0,0.0,465.0,58.0,1027.0,-78.0,57.0,2521.0,9.0,3826.0,1,2022-12-01 00:10:00
2,0.0,0.0,0.0,0.0,471.0,58.0,1027.0,-79.0,223.0,2515.0,10.0,3861.0,1,2022-12-01 00:20:00
3,0.0,0.0,0.0,0.0,476.0,56.0,1027.0,-78.0,52.0,2523.0,11.0,3832.0,1,2022-12-01 00:30:00
4,0.0,0.0,0.0,0.0,492.0,57.0,1027.0,-77.0,212.0,2517.0,14.0,3878.0,1,2022-12-01 00:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15088,0.0,0.0,0.0,0.0,749.0,22.0,1018.0,-45.0,83.0,2813.0,53.0,3795.0,50,2023-03-15 18:40:00
15089,0.0,0.0,0.0,0.0,773.0,23.0,1018.0,-54.0,72.0,2776.0,56.0,3748.0,50,2023-03-15 18:50:00
15090,0.0,0.0,0.0,0.0,845.0,22.0,1018.0,-52.0,79.0,2785.0,67.0,3826.0,50,2023-03-15 19:00:00
15091,0.0,0.0,0.0,0.0,800.0,22.0,1018.0,-52.0,76.0,2761.0,60.0,3803.0,50,2023-03-15 19:10:00
15092,0.0,0.0,0.0,0.0,825.0,23.0,1018.0,-46.0,101.0,2760.0,64.0,3806.0,50,2023-03-15 19:20:00

In [15]:
new_dataframe.to_csv("./data_full.csv",index= False)

In [17]:
data = pd.read_csv("./data_full.csv")
data

,color b,color c,color g,color r,eCO2,humidity,pressure,rssi,sound,temperature,TVOC,voltage,id,time
0,0.0,0.0,0.0,0.0,465.0,58.0,1027.0,-78.0,57.0,2521.0,9.0,3826.0,1,2022-12-01 00:00:00
1,0.0,0.0,0.0,0.0,465.0,58.0,1027.0,-78.0,57.0,2521.0,9.0,3826.0,1,2022-12-01 00:10:00
2,0.0,0.0,0.0,0.0,471.0,58.0,1027.0,-79.0,223.0,2515.0,10.0,3861.0,1,2022-12-01 00:20:00
3,0.0,0.0,0.0,0.0,476.0,56.0,1027.0,-78.0,52.0,2523.0,11.0,3832.0,1,2022-12-01 00:30:00
4,0.0,0.0,0.0,0.0,492.0,57.0,1027.0,-77.0,212.0,2517.0,14.0,3878.0,1,2022-12-01 00:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377320,0.0,0.0,0.0,0.0,749.0,22.0,1018.0,-45.0,83.0,2813.0,53.0,3795.0,50,2023-03-15 18:40:00
377321,0.0,0.0,0.0,0.0,773.0,23.0,1018.0,-54.0,72.0,2776.0,56.0,3748.0,50,2023-03-15 18:50:00
377322,0.0,0.0,0.0,0.0,845.0,22.0,1018.0,-52.0,79.0,2785.0,67.0,3826.0,50,2023-03-15 19:00:00
377323,0.0,0.0,0.0,0.0,800.0,22.0,1018.0,-52.0,76.0,2761.0,60.0,3803.0,50,2023-03-15 19:10:00
377324,0.0,0.0,0.0,0.0,825.0,23.0,1018.0,-46.0,101.0,2760.0,64.0,3806.0,50,2023-03-15 19:20:00